---
import Layout from '@/layouts/Layout.astro';
import { Image } from 'astro:assets';
import HeroImage from '@/assets/hero-image.png';
import HeroBackground from '@/assets/hero-background.avif';
import ServicesBackground from '@/assets/services-background.avif';
import Ebook from '@/assets/ebook.avif';
import ContactForm from '@/components/ContactForm.astro';

const services = [
  {
    title: 'Revisión y envío de CV',
    price: '25€',
    description:
      'Si solo necesitas pulir tu CV y darle un formato optimizado con ajustes estratégicos, esta opción es para ti. Te lo dejo listo para enviar sin perder tiempo.'
  },
  {
    title: 'Asesoría 1:1',
    price: '69€',
    description:
      'Nos ponemos serios: analizamos tu situación, identificamos qué te está frenando y trazamos una estrategia efectiva para que consigas el trabajo que quieres.'
  }
];

const optimized_services = [
  {
    title: 'Asesoría + Optimización de CV',
    price: '89€',
    description:
      'Vamos más allá de la revisión: analizamos a fondo tu CV, detectamos puntos débiles y lo ajustamos para que supere filtros y capte la atención de los reclutadores. Si hace falta, lo reconstruimos desde cero.'
  },
  {
    title: 'Asesoría + Optimización de LinkedIn',
    price: '119€',
    description:
      'Hacemos que tu LinkedIn deje de ser un simple perfil y se convierta en una máquina de atracción de oportunidades. Optimización total para que los reclutadores te encuentren y te lleguen más ofertas.'
  },
  {
    title: 'Asesoría + Simulación de Entrevista',
    price: '149€',
    description:
      'Si las entrevistas te ponen nervioso, esta es tu opción. Practicamos juntos, afinamos respuestas, trabajamos en seguridad y te doy estrategias ganadoras para que cierres la oferta con éxito.'
  },
  {
    title: 'La opción top: Pack CV + LinkedIn + Entrevista',
    price: '175€',
    description:
      'Si quieres una transformación total, este es tu combo ganador: CV optimizado, LinkedIn potente y preparación de entrevistas. Todo alineado para que consigas el trabajo que realmente quieres.'
  }
];
---

<Layout>
  <section class="max-w-[1200px] max-xl:px-10 mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
      <div class="content-baseline text-balance">
        <h1 class="text-5xl font-bold">Tu carrera, tu éxito, tu estrategia</h1>
        <p class="mt-5 text-xl">
          Te ayudo a <b>posicionarte, destacar y conseguir oportunidades reales</b> con estrategias de empleabilidad, marca personal y networking
          que funcionan
        </p>
        <button class="rounded-lg py-4 px-10 mt-10 text-xl text-white bg-[#54C870]">Reserva tu asesoría</button>
      </div>

      <div class="justify-items-center xl:justify-items-end max-lg:mt-14 -z-1">
        <Image src={HeroImage} alt="Silvia" class="w-[300px] lg:w-[400px]" />
      </div>
    </div>

    <Image src={HeroBackground} alt="Background" class="max-lg:hidden absolute -top-10 right-0 -z-10" />
  </section>

  <div class="shape-divider -mt-18 lg:-mt-36">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
      class="w-full h-[70px] lg:w-[135%] lg:h-[150px]"
    >
      <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill"></path>
    </svg>
  </div>

  <section class="bg-[#038B61] text-white py-20">
    <div class="max-w-[1200px] mx-auto max-xl:px-10">
      <p>
        Soy Silvia Moreno y llevo 15 años en el mundo laboral y corporativo. Sé lo que es sentirse perdido en la búsqueda de empleo, querer
        crecer profesionalmente sin saber cómo o sentir que no hay nadie que te ayude en el camino. Justo por eso, hoy estoy aquí: para que
        tú no te sientas solo en tu carrera profesional.
      </p>
      <p class="mt-5">
        <b>Te ayudo a destacar en el mundo laboral</b> con estrategias claras, herramientas efectivas y un plan real para que consigas ese trabajo,
        esa promoción o esa visibilidad que necesitas.
      </p>
      <p class="mt-5">
        <b>He colaborado</b> en charlas y talleres sobre empleabilidad, RRHH y desarrollo de talento. También he trabajado con marcas y plataformas
        líderes en el sector, ofreciendo insights clave para que miles de personas logren sus objetivos profesionales.
      </p>
      <p class="mt-5">
        En redes sociales, <b>desmitifico el mundo laboral</b> con contenido real, consejos prácticos y hacks que funcionan. Mi comunidad en
        TikTok y LinkedIn (@workvibesilvia) crece día a día porque aporto valor con estrategias que realmente generan resultados.
      </p>
      <p class="mt-5">
        <b>Mi misión es ayudarte a tomar el control de tu futuro profesional.</b> No importa en qué punto estés, juntos crearemos la mejor estrategia
        para que logres lo que te propones.
      </p>
    </div>
  </section>

  <section class="relative">
    <div class="max-w-[1200px] mx-auto py-20 max-xl:px-10">
      <h2 class="text-center text-3xl mb-10">SERVICIOS</h2>

      <p class="text-lg text-center mb-5">🚀 Tú eliges cómo transformar tu carrera</p>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-10 mb-10">
        {
          services.map((service) => {
            return (
              <div class="transition-all duration-200 hover:scale-101 border-3 border-[#038B61] p-5 rounded-2xl">
                <h3 class="text-xl font-bold">{service.title}</h3>
                <p class="text-center text-5xl font-extrabold my-10">{service.price}</p>
                <p>{service.description}</p>

                <div class="text-center mt-10 mb-3">
                  <a
                    href="https://calendly.com/workvibesilvia/asesoria-1-1"
                    class="mt-5 text-center bg-[#54C870] text-white py-2 px-20 rounded-lg"
                  >
                    Me interesa
                  </a>
                </div>
              </div>
            );
          })
        }
      </div>

      <p class="text-lg text-center mb-5 mt-10">🔥 Optimización completa</p>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-10 mb-10">
        {
          optimized_services.map((service) => {
            return (
              <div class="transition-all duration-200 hover:scale-101 border-3 border-[#038B61] p-5 rounded-2xl">
                <h3 class="text-xl font-bold">{service.title}</h3>
                <p class="text-center text-5xl font-extrabold my-10">{service.price}</p>
                <p>{service.description}</p>

                <div class="text-center mt-10 mb-3">
                  <a
                    href="https://calendly.com/workvibesilvia/asesoria-1-1"
                    class="mt-5 text-center bg-[#54C870] text-white py-2 px-20 rounded-lg"
                  >
                    Me interesa
                  </a>
                </div>
              </div>
            );
          })
        }
      </div>

      <p class="text-center text-md italic mt-10">
        Todos mis packs incluyen feedback personalizado y estrategias adaptadas a tu perfil profesional
      </p>
    </div>

    <Image
      src={ServicesBackground}
      alt="Background"
      class="max-lg:hidden absolute -top-30 -left-10 w-full max-w-[1500px] opacity-10 -z-10"
    />
  </section>

  <div class="shape-divider">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none" class="w-full h-[100px]">
      <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill"></path>
    </svg>
  </div>

  <section class="bg-[#038B61] text-white py-20">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-20 max-w-[1200px] mx-auto max-xl:px-10">
      <Image src={Ebook} alt="Background" class="col-span-2 w-full" />

      <div class="self-center">
        <h3 class="text-2xl">Mi ebook de mitema</h3>

        <p class="mt-5">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus tempore aspernatur, ullam dolor fuga corporis doloremque animi
          nihil. Hic laborum rem numquam sapiente est aspernatur sed accusamus, nam quidem qui.
        </p>
      </div>
    </div>
  </section>

  <section class="max-w-[1200px] max-xl:px-10 mx-auto my-20">
    <h2 class="text-center text-3xl mb-10">CONTACTO</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
      <div>
        <p class="text-xl">¡Hablemos! Estoy aquí para ayudarte</p>

        <p class="text-lg mt-3 mb-5">
          Si tienes dudas, necesitas más información sobre mis servicios o quieres saber cuál es la mejor opción para ti, ponte en contacto
          conmigo:
        </p>
      </div>

      <ContactForm />
    </div>
  </section>
</Layout>

<style>
  .shape-divider {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .shape-divider svg {
    position: relative;
    display: block;
  }

  .shape-divider .shape-fill {
    fill: #038b61;
  }
</style>
