---
const links: { href: string; name: string }[] = [
  {
    href: '/#services',
    name: 'Servicios'
  },
  {
    href: '/#ebook',
    name: 'Ebook'
  },
  {
    href: '/#contact',
    name: 'Contacto'
  }
];

const currentPath = Astro.url.pathname;
---

<script>
  const $mobileMenu = document.querySelector('#mobile-menu') as HTMLElement;
  const $menuButton = document.querySelector('#menu-button') as HTMLElement;
  const $closeMenuButton = document.querySelector('#close-menu-button') as HTMLElement;
  const $menuOptions = document.querySelectorAll('.menu-option') as NodeListOf<HTMLElement>;

  $menuButton.addEventListener('click', () => {
    $mobileMenu.classList.toggle('hidden');
  });

  $closeMenuButton.addEventListener('click', () => {
    $mobileMenu.classList.toggle('hidden');
  });

  $menuOptions.forEach((option) => {
    option.addEventListener('click', () => {
      $mobileMenu.classList.toggle('hidden');
    });
  });
</script>

<header class="bg-transparent border-gray-200 mb-[50px] lg:mb-[150px] max-w-[1200px] mx-auto mt-10">
  <nav class="relative flex items-center justify-between py-6 max-lg:px-10">
    <div class="hidden lg:block lg:w-auto">
      <ul class="flex space-x-8">
        {
          links.map(({ href, name }) => (
            <li>
              <a href={href} class="py-2 px-3 text-primary text-lg hover:text-secondary">
                {name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>

    <a
      href="/#contact"
      class="max-lg:hidden rounded-lg py-4 px-10 text-xl text-white bg-secondary transition-all duration-200 hover:scale-103"
    >
      Reserva tu asesoría
    </a>

    <button type="button" id="menu-button" class="lg:hidden absolute right-10">
      <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
      </svg>
    </button>
  </nav>

  <!-- Mobile menu, show/hide based on menu open state. -->
  <div id="mobile-menu" class="hidden" role="dialog" aria-modal="true">
    <div class="fixed inset-y-0 right-0 z-20 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
      <div class="flex items-center justify-between justify-self-end">
        <button type="button" id="close-menu-button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Close menu</span>
          <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6 text-center">
            {
              links.map(({ href, name }) => (
                <div>
                  <a
                    href={href}
                    class:list={[
                      'menu-option -mx-3 block rounded-lg px-3 py-2 hover:bg-gray-50',
                      `${currentPath === `/${href}` ? 'bg-gray-300' : ''}`,
                      { 'font-bold': currentPath === `/$${href}` }
                    ]}
                  >
                    {name}
                  </a>
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
